#geral{
    margin: 20px auto;
    padding: 20px;
    background-color: #c6d0d4ea;
    width: 450px;
    min-height: 450px;
}

form{
    background-color: #ffffff;
    padding: 20px;
    margin: 20px 0px;
    width: 400px;
    border-radius: 8px;

}

label, input{
    display: block;
    margin: 10px 0px;
}

label{
    text-transform: uppercase;
    font-weight: bold;
}

#resultado{
    width: 400px;
    height: 250px;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    border-radius: 8px;
}